SQLAlchemy~=2.0.29
fastapi~=0.115.6
pydantic~=2.10.3
python-dotenv~=1.0.1
python-decouple~=3.8
passlib~=1.7.4
python-jose~=3.3.0
email_validator~=2.2.0
uvicorn==0.24.0
psycopg2-binary==2.9.9
SQLAlchemy-serializer==1.4.1
